@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik.woff2') format('woff2'),
		url('../fonts/Rubik/Rubik.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubikmedium.woff2') format('woff2'),
		url('../fonts/Rubik/Rubikmedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}