.header {

    &__wrapper {
        display: flex;
        padding-top: 34px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

}

.search {
    display: flex;
    align-items: center;

    &__input {
        padding-bottom: 6px;
        min-width: 320px;
        margin-right: 32px;
    }
}

.user {
    align-items: center;

    &__name {
        margin-right: 16px;
        @extend %title-font;
    }

    &__name-input {
        padding-right: 20px;
        padding-bottom: 6px;
    }
    &__checkbox-box {
        margin-top: 10px;
        display: flex;
    }

    &__name-span {
        cursor: pointer;
    }

    &__name-wrapper {
        padding-top: 15px;
    }
}

@media (max-width: 860px) {
    .header {
        &__logo {
            display: none;
        }
    }
}
@media (max-width: 575px) {
    .search {
        margin-bottom: 25px;
        &__input {
            width: 100%;
            min-width: 250px;
        }
    }
}
@media (max-width: 320px) {
    .search {
        margin-bottom: 25px;
        &__input {
            width: 100%;
            min-width: 120px;
        }
    }
}
